/*
Outfit:wght@100;300;500
Sacramento
*/

:root {
  --heading-font-family: "Sacramento", cursive;
  --default-font-family: "Outfit", sans-serif;
  --primary-color: #0c5580;
  --secondary-color: #d1d1d1;
  --text-color: white;
}

body {
  font-family: var(--default-font-family);
  font-weight: 300;
  color: var(--text-color);
  background-color: var(--primary-color);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 65px;
}

.background-img {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.logo {
  font-family: var(--heading-font-family);
  font-size: 30px;
  line-height: 1.2;
}

.main-container {
  padding: 90px 100px 40px;
}

.menu {
  position: absolute;
  width: 100%;
}

.home-container {
  height: 420px;
}

.home-text {
  font-size: 20px;
}

.horizontal-social-media {
  text-align: center;
  margin-bottom: 20px;
}

.primary-button {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  color: var(--primary-color);
}

.primary-button:hover {
  background-color: var(--text-color);
  border: 2px solid var(--text-color);
  color: var(--primary-color);
}

.secondary-button {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.secondary-button:hover {
  background-color: var(--text-color);
  border: 2px solid var(--text-color);
  color: var(--primary-color);
}

.social-media-links {
  position: absolute;
  top: 430px;
  left: 40px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social-media-links,
a {
  color: var(--secondary-color);
}

.social-media-links,
a:hover {
  color: var(--text-color);
}

@media (max-width: 576px) {
  h1 {
    text-align: center;
    font-size: 55px;
  }
  p {
    text-align: center;
  }
  .footer-text {
    font-size: 10px;
    color: var(--secondary-color);
  }
  .home-button {
    font-size: 13px;
    margin-top: 15px;
  }
  .home-buttons {
    text-align: center;
  }
  .home-container {
    height: 280px;
  }
  .main-container {
    padding: 90px 40px 40px;
  }
  .social-media-links {
    display: none;
  }
}

@media (min-width: 576px) {
  .horizontal-social-media {
    display: none;
  }
}

@media (max-width: 768px) {
}
