/*
Outfit:wght@100;300;500
Sacramento
*/

:root {
  --heading-font-family: "Sacramento", cursive;
  --default-font-family: "Outfit", sans-serif;
  --primary-color: #0c5580;
  --primary-color-transparency: #0c5580d7;
  --secondary-color: #d1d1d1;
  --text-color: white;
  --shadow: 2px 7px 15px #0c5580d7;
}

body {
  font-family: var(--default-font-family);
  font-weight: 300;
  color: var(--text-color);
  background-color: var(--primary-color-transparency);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 65px;
}

.about-img {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.arrow-to-top {
  position: fixed;
  top: 500px;
  right: 40px;
  z-index: 2;
  text-align: center;
  padding-top: 3px;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  box-shadow: var(--shadow);
}

.arrow-to-top a {
  color: var(--primary-color);
}

.arrow-to-top a:hover {
  color: var(--text-color);
}

.about-horizontal-social-media,
.gallery-horizontal-social-media {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-container {
  margin-top: 50px;
}

.home-artwork {
  margin-left: 50px;
}

.home-artwork-vertical {
  margin: 0 auto;
  padding: 30px 0px;
}

.home-container {
  height: 420px;
}

.home-text {
  font-size: 20px;
}

.horizontal-social-media {
  text-align: center;
  margin-top: 390px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-container {
  padding: 90px 100px 40px;
}

.menu {
  position: absolute;
  width: 100%;
}

.navbar-brand {
  font-family: var(--heading-font-family);
  font-size: 30px;
  line-height: 1.2;
  color: var(--primary-color) !important;
}

.nav-link.active {
  color: var(--primary-color) !important;
}

.primary-button {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  color: var(--primary-color);
  box-shadow: var(--shadow);
}

.primary-button:hover {
  background-color: var(--text-color);
  border: 2px solid var(--text-color);
  color: var(--primary-color);
}

.secondary-button {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  box-shadow: var(--shadow);
}

.secondary-button:hover {
  background-color: var(--text-color);
  border: 2px solid var(--text-color);
  color: var(--primary-color);
}

.social-media-links {
  position: fixed;
  top: 410px;
  left: 40px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
}

a {
  color: var(--secondary-color);
}

a:hover {
  color: var(--text-color);
}

@media (max-width: 576px) {
  h1 {
    text-align: center;
    font-size: 55px;
  }
  .footer-text {
    font-size: 10px;
    color: var(--secondary-color);
  }
  .home-artwork {
    margin: 0 auto;
    transform: rotate(90deg);
  }
  .responsive-button {
    font-size: 13px;
    margin-top: 15px;
  }
  .home-container {
    height: 280px;
  }
  .main-container {
    padding: 100px 30px 30px;
  }
}

@media (min-width: 576px) {
}

@media (max-width: 768px) {
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .home-artwork {
    display: none;
  }
  .home-buttons,
  .about-button {
    text-align: center;
  }
  .social-media-links {
    display: none;
  }
}

@media (min-width: 768px) {
  .about-horizontal-social-media {
    display: none;
  }
  .home-artwork-vertical {
    display: none;
  }
  .horizontal-social-media {
    display: none;
  }
}
